{
    "extends": "semistandard",
    "rules": {
        "indent": ["error", 4],
        "comma-dangle": "off",
        "no-trailing-spaces": ["error", {
            "skipBlankLines": true
        }],
        "no-unused-expressions": 0
    },
    "env": {
        "mocha": true
    }
}